@keyframes rainbow {
  // ROYGBIV
  0% {color: red}
  14.3% {color: orange}
  28.6% {color: yellow}
  42.9% {color: green}
  57.2% {color: blue}
  71.5% {color: indigo}
  85.8% {color: violet}
  100% {color: red}
}

@keyframes redbow {
  0% {color: red}
  20% {color: orange}
  40% {color: #e2888b }
  60% {color: violet}
  80% {color: mediumvioletred}
  100% {color: red}
}

.NPList {
  padding-left: 1em;
  font-size: 30px;
  font-family: BungeeShade, sans-serif;
  animation: redbow 5s infinite;
  text-shadow: 1px 1px white;
}